@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  width: 350px;
  height: 600px;
  margin: 0;
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
}